<div class="footer">
  <div class="footer-copyright">
    © 2023 TutoriArte
  </div>
  <div class="footer-links">
    <%= link_to 'About', about_path %>
    <%= link_to 'Contact', contact_path %>
  </div>
</div>
