<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>


<%# <%= link_to t('.Resevar'), new_booking_path, class: "btn btn-primary mx-2", data: { turbo_frame: "modal", action: "click->modal#connect" } %> %>

<%= link_to t('.Resevar'), new_booking_path, class: "btn btn-primary mx-2", %>
