<div class="container mt-5">
  <h2>Volver al inicio</h2>
  <p><%= flash[:success] %></p>
  <h2> Gracias, valoramos mucho tu tiempo!</h2>
  <%= link_to "Ir a Inicio", root_path, class: "btn btn-primary mt-3" %>
</div>
