<div class="container mt-5">
  <h2>Agrege su Comentario</h2>
  <%= simple_form_for [@user, @review], url:"/reviews" do |f| %>
    <%= f.input :rating, label: "valoracion" %>
    <%= f.input :comments, label: "comentario" %>
    <%= f.submit %>
  <% end %>

</div>
